.as11{
    padding-top:8vh;
    padding-left:4vh;
    color: rgb(50, 54, 54);
}
.as12{
    width: 88vw;
    padding-top:4vh;
    padding-left:4vh;
    padding-bottom:2vh;
}
.as15{
    background-color: black;
    margin-right: 6vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
.as13{
    width: 88vw;
}
.q1{
    color: rgb(251, 78, 78);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.as14{
    padding-top:4vh;
    padding-left:4vh;
    margin-right: 6vw;
    padding-bottom: 2vh;
    /* margin-bottom: 1vh; */

    margin-top: 2vh;
    background-color: rgb(148, 40, 40);
    color: white;

}
.bb55{
    padding-left: 4vw;
    
}