@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    font-family: 'Poppins' ;
}
.c{
    color: aliceblue;
    text-decoration: none;

}
.c:hover{
    color:rgb(192, 60, 82) ;
}
.o,.App{
    background-color: #02174b;
    color:rgb(192, 60, 82);
}
.App{
    min-height: 100vh;
    min-width: 100vw;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
input,textarea{
    background-color: #485a87f6;
    opacity: 0.5;
    margin-bottom: 2vh;
}
input[type="submit"]{
    opacity: 1 !important;
    max-width: 10vw;

}
.out{
    display: flex;
    justify-content: start;
    gap: 15vw;
    align-items: center;
}
.z{
    color:aliceblue;
}
.k{
    color:aliceblue;
   
}
::placeholder{
    color:white ;
    opacity: 1 !important;
    font-weight: 300;
}
.r{
    font-weight: 900 !important;
    text-shadow: 2px 2px #330404;
}
input[type="submit"]:hover{
   background-color: #53052c !important;
    color:rgb(192, 60, 82) !important;
}
@media(max-width:750px){
    .out{
        flex-direction: column;
        min-width: 110vw !important;
        background-color: #02174b;
    }
.grzxUi {
            width: 80vw !important;
        }
        .left{
            min-width: 100vw !important;
            padding: 2vh;
        }
        .right{
            min-width: 100vw !important;
            padding: 2vh;
            background-color: #02174b;
        }
        input[type="submit"]{
            opacity: 1 !important;
            max-width: 20vw;
        }
    }
